.header-color {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.home-grid {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;

}

/* moving annimation starts */
/* .home-grid .clouds */
/* .container .clouds{
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .clouds img{
  display: flex;
  align-items: flex-end !important;
  position: absolute;
  bottom: 0;
  max-width: 100%;
  /* justify-content: flex-end; */
  /* animation: animate calc(8s * var(--i)) linear infinite; */
/* } */


/* @keyframes animate {
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }

}  */
/* moving annimation ends */

.avatar-img{
  height: 250px;
  width: 135px;
  padding-top: 1em;
  /* margin-bottom: -3em; */
  border-radius: 50%;
  /* background: rgba(255, 255, 255, .4); */
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);

}
.banner-text{
   background-color: black;
   opacity: .5;
   border-radius: 20px;
   width: 80vw;
   max-width: 45em;
   padding: 1.5em 2em;
   padding-bottom: 30px;
   justify-content: center;
   margin: 0 auto;
   box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);
}

.banner-text h1{
  font-size: 60px;
  font-weight: bold;
  color: white;
}


.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}
.social-links {
  display: flex;
  /* justify-content: space-between; */
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 8px;
  color: #4A00E0;
  justify-content: center;

}

.social-links i{
  font-size: 3em;
  color: Dodgerblue;
  padding: 8px;
}

/* project.js */

.projects-grid {
  /* background: #2980B9;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
 }

.card {
  overflow: hidden;

  position: relative;
  margin: 0.5rem;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.buttons {
  display: block;
  margin: auto;
  box-shadow: 0 0 20px #08c;
  display: flex;
  justify-content: space-between;
}

.blog-buttons{
  display: block;
  margin: auto;
  box-shadow: 0 0 20px #08c;
  justify-content: space-between;
}

.tabs {
  background: '#2980B9';
}

/* Contact page style */

.contact-body{

  margin: auto;

  /* position: fixed; */
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid{

  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  /* background: white; */
  color: black;
  /* border: 2px solid red; */
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;

}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin:auto;
}

.contact-list i{
  font-size: 66px;
  padding-right: 3rem;
  /* justify-content: center; */

}
/* about me page style */
.aboutme-grid{

  text-align: center;
  display: flex;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
}

.intro-text{
  width: 70%;
  margin: auto;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 5px;

}

.intro-text h3{
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 700;
  line-height: 42px;
  color: black;
}
.intro-text p{

  font-family: Sans-serif;
  font-size: 1.2em;
}

.intro-text hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.btn {
  flex: auto;
  transition: 0.5s;


 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
  box-shadow: 0 0 20px #08c;
  border-radius: 100px;
 }
